/.DS_Store
/WebViewTemplate.xcodeproj/project.xcworkspace/xcuserdata/kgaddy.xcuserdatad/UserInterfaceState.xcuserstate
/WebViewTemplate.xcodeproj/xcuserdata/kgaddy.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/WebViewTemplate/www/js/.DS_Store